body {
    background-color: hotpink;
}

.main{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.75);
}

.header1{
    display: flex;
    flex-direction: column;
    background: url("../img/rickgif1.gif");
    background-size: 100px 100px;
    justify-content: center;
    align-items: center;
    height: 100px;

}
.ricktopheader{
    font-family: "comic sans ms";
    color: white;
    font-size: 400%;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
}
.span_css {
    /*background-color: rgba(255, 255, 255, 0.7);

    font-size: 100%;*/
    font-family: "comic sans ms";
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.main_wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
    justify-content: center;
    background: linear-gradient(to right, darkgrey, black, darkgrey);
}
.pics{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 20px #ff00b1;

}
.button {
  background-color: #0087F1;
  height: 100%;
  width: 100%;
}

.ninetys_nav {
  display: flex;
  flex-direction: row;
  background-color: darkseagreen;
  border: 1px solid black;
    justify-content: center;
}
.navbuttton{
    display: flex;
    flex-direction: row;



}
a{ color: black;
    font-family: "comic sans ms";
    margin: 5px;

    padding: 0;
    background-color: #ffe865;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}
.footer1 {
    flex-direction: row;
    display: flex;
}
.specialbutton {


    background-color: darkseagreen; /* Green */
    border: 0;
    color: black   ;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}